<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!-- クロスサイトリクエストフォージェリ対策 -->
    <%= csrf_meta_tags %>
    <!-- 自動で読み込まれるスタイルシートに加えて、自分でスタイルシートを指定して読み込む -->
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <!-- a要素を使ったリンクをrubyで作成 -->
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <!-- 個別レイアウトを表示 -->
      <%= yield %>
    </div>
  </body>
</html>
